@model Tools.Models.DatabaseObject.BaseCharacterDTO
@using System.Web.Mvc.Html

<form asp-action="CreateContentCharacter">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary"> Create Content Character</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2 pb-3">
                <label asp-for="name" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="name" class="form-control"/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="col-2 pb-3">
                <label asp-for="typeId" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="@Model.typeId" asp-items="Html.GetEnumSelectList<Tools.Models.DatabaseObject.Type>()"></select>
                @Html.ValidationMessageFor(model => model.typeId, "", new { @class = "text-danger" })
            </div>
            <div class="col-5 offset-2">
                <a asp-action="ContentCharacterIndex" class="btn-primary btn form-control">Back to list</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}